*.py[cod]
# C extensions
*.so

# Packages
*.egg
*.egg-info
.ropeproject
dist
build
eggs
parts
bin
var
sdist
dump.rdb
develop-eggs
.installed.cfg
lib
lib64
media
static

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# local .history files in VS Code
.history

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea
celerybeat-schedule.db
celerybeat.pid
dump.rdb
db.sqlite3
settings/local.py
data/logs
venv/
settings/production.py
templates/
venv/Include/
venv/Scripts/Activate.ps1
venv/Scripts/activate
venv/Scripts/activate.bat
venv/Scripts/celery.exe
venv/Scripts/chardetect.exe
venv/Scripts/deactivate.bat
venv/Scripts/django-admin.exe
venv/Scripts/django-admin.py
venv/Scripts/flower.exe
venv/Scripts/jp.py
venv/Scripts/markdown_py.exe
venv/Scripts/pip.exe
venv/Scripts/pip3.7.exe
venv/Scripts/pip3.exe
venv/Scripts/python.exe
venv/Scripts/pythonw.exe
venv/Scripts/sqlformat.exe
venv/Scripts/uvicorn.exe
venv/pyvenv.cfg
